DEBUG=
SECRET_KEY="django-insecure-pzp@#n@(ua#&ms8lc7urrkfu8t)07t!-ddx-t&g6!)%3_nljvd"

# telegram configs from https://t.me/BotFather
TELEBOT_URL= https://api.telegram.org/bot
TELEBOT_TOKEN = 6177338707:AAGwLo3vB_eYvmX4FWwrjTJEDEjC9ntY6Y0
TELEBOT_CHAT_ID = -1001881832053

# database default configs in digital ocean
POSTGRES_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=myproject
POSTGRES_USER=myprojectuser
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
