{% load static %}
<footer class="bg-soft-primary">
  <div class="container py-13 py-md-15">
    <div class="row gy-6 gy-lg-0 justify-content-center">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          {% comment %}
          <img
            style="height: 70%; width: 70%"
            src="{% static 'assets/img/logo_footer.png' %}"
            srcset="{% static 'assets/img/logo_footer.png' %}"
            alt="Muhammadali LIVE"
          />
          {% endcomment %}
          <a href="{% url 'home' %}"> <p class="mb-4">
            © 2023 djohnlive.com <br class="d-none d-lg-block" />
          </p>
        </a>
          <nav class="nav social">
            <a href="https://t.me/the_elita"
              ><span class="iconify" data-icon="ic:twotone-telegram"></span
            ></a>
            <a href="https://www.instagram.com/_ummataliyev_/"
            ><span class="iconify" data-icon="akar-icons:instagram-fill"></span
          ></a>          
            <a href="https://twitter.com/_the_elita_/"
            ><i class="uil uil-twitter"></i
          ></a>
            <a href="https://www.linkedin.com/in/ummataliyev/"
              ><span class="iconify" data-icon="brandico:linkedin-rect"></span
            ></a>
            <a href="https://github.com/ummataliyev"
              ><span class="iconify" data-icon="akar-icons:github-fill"></span
            ></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title mb-3">Get in Touch</h4>
          <!-- <address class="pe-xl-15 pe-xxl-17">
            Olmazor St. 96A,Toshkent Uzbekistan
          </address> -->
          <a href="mailto:#" class="link-body">djohnummataliyev@gmail.com</a
          ><br />
          + 998 (93) 885 - 77 - 47 <br />
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h4 class="widget-title mb-3">Learn More</h4>
          <ul class="list-unstyled text-reset mb-0">
            <li><a target="_blank" href="{%  url 'about-my-self' %}">About</a></li>
            <li><a target="_blank" href="{% url 'contact-me' %}">Contact</a></li>
            {% comment %}
            <li><a href="">Our Story</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Privacy Policy</a></li>
            {% endcomment %}
          </ul>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!--/.row -->
  </div>
